html {
    font-family: 'KaiTi', serif;
}

ul,
ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

table td {
    height: 30px;
    line-height: 30px;
}

label {
    color: #9c5223;
}

.invoiceMain {
    width: 920px;
    margin: 30px auto 0 auto;
    font-size: 14px;
    color: #000;
}

.invoiceHeader {
    height: 126px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerMiddle h1 {
    font-size: 32px;
    color: #9c5223;
    margin: 5px 12px;
}

.headerMiddle p {
    margin-top: 50px;
    color: #9c5223;
    text-align: right;
}

.line {
    height: 2px;
    border-top: #9c5223 1px solid;
    border-bottom: #9c5223 1px solid;
}

.headerLeft {
    width: 25%;
    margin-bottom: -50px;
}

.headerRight {
    width: 25%;
}

.headerRight li {
    line-height: 24px;
}

.invoiceBody {
    border: 1px solid #9c5223;
}

.userInfo {
    width: 100%;
    display: flex;
    align-items: center;
    height: 92px;
    border-bottom: 1px solid #9c5223;
}

.userInfo ul {
    width: 50%;
}

.userInfo ul li {
    line-height: 30px;
    height: 30px;
    padding-left: 8px;
}

.userInfo input {
    border: none;
    height: 27px;
    margin-left: 8px;
    padding-left: 8px;
    width: auto;
}

.payer {
    width: 20px;
    border-right: 1px solid #9c5223;
    padding: 0 10px;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    color: #9c5223;
}

.payee {
    width: 20px;
    border-left: 1px solid #9c5223;
    border-right: 1px solid #9c5223;
    padding: 0 10px;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    color: #9c5223;
}

.itemTable {
    height: 210px;
    width: 100%;
    border-collapse: collapse;
}

.itemTable td {
    border-right: 1px solid #9c5223;
    color: #9c5223;
}

.stamp {
    border-top: 1px solid #9c5223;
}

.stamp td p {
    margin: 2px 8px;
}

.total td:nth-child(1) {
    text-align: left;
    padding-left: 8px;
}

.bottom-line {
    border-bottom: 1px solid #9c5223 !important;
}

.right-line {
    float: left;
    width: 100px;
    display: inline-block;
    border-right: 1px solid #9c5223;
    height: 30px;
    color: #9c5223;
    text-align: center;
}

.no-right-line {
    border-right: none !important;
}

.item-select {
    width: 98%;
    border: none;
    height: 27px;
}

.item-input {
    width: 98%;
    border: none;
    height: 27px;
}

.amount-input {
    margin-left: 10px;
    border: none;
    height: 27px;
}

.toolbar {
    margin-top: 20px;
    height: 50px;
    line-height: 50px;
    text-align: right;
}

.toolbar input {
    border: none;
    height: 30px;
    line-height: 30px;
    padding: 2px 30px;
}

